body {
    margin: 0;
    font-size: 100%;
    background-color: #141517;
}

.ui-datepicker,
.ui-datepicker table,
.ui-datepicker tr,
.ui-datepicker td,
.ui-datepicker th {
    margin: 0;
    padding: 0;
    border: none;
    border-spacing: 0;
}

.ui-datepicker {
    display: none;
    width: 294px;
    padding: 30px;
    cursor: default;

    text-transform: uppercase;
    font-family: Tahoma;
    font-size: 1em;

    background: #141517;
}

.ui-datepicker-header {
    position: relative;
    padding-bottom: 10px;
    border-bottom: 1px solid #d6d6d6;
}

.ui-datepicker-title { text-align: center; }

.ui-datepicker-month {
    position: relative;
    padding-right: 15px;
    color: #565656;
}

.ui-datepicker-year {
    padding-left: 8px;
    color: #a8a8a8;
}

.ui-datepicker-month:before {
    display: block;
    position: absolute;
    top: 5px;
    right: 0;
    width: 5px;
    height: 5px;
    content: '';

    background: #a5cd4e;
    background: -moz-linear-gradient(top, #a5cd4e 0%, #6b8f1a 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a5cd4e), color-stop(100%,#6b8f1a));
    background: -webkit-linear-gradient(top, #a5cd4e 0%,#6b8f1a 100%);
    background: -o-linear-gradient(top, #a5cd4e 0%,#6b8f1a 100%);
    background: -ms-linear-gradient(top, #a5cd4e 0%,#6b8f1a 100%);
    background: linear-gradient(top, #a5cd4e 0%,#6b8f1a 100%);

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.ui-datepicker-prev,
.ui-datepicker-next {
    position: absolute;
    top: -2px;
    padding: 5px;
    cursor: pointer;
}

.ui-datepicker-prev {
    left: 0;
    padding-left: 0;
}

.ui-datepicker-next {
    right: 0;
    padding-right: 0;
}

.ui-datepicker-prev span {
    width: 0;
    height: 0;
    border: solid 5px rgb(170, 170, 170);
    border-bottom-color: transparent;
    border-top-color: transparent;
    border-left-color: transparent;
    display: block;
    overflow: hidden;
}

.ui-datepicker-next span {
    width: 0;
    height: 0;
    border: solid 5px rgb(170, 170, 170);
    border-bottom-color: transparent;
    border-top-color: transparent;
    border-right-color: transparent;
    display: block;
    overflow: hidden;
}

.ui-datepicker-next span:hover {
    border-left-color: White;
}

.ui-datepicker-prev span:hover
{
    border-right-color: White;
}

.ui-datepicker-calendar th {
    padding-top: 15px;
    padding-bottom: 10px;

    text-align: center;
    font-weight: normal;
    color: #a8a8a8;
}

.ui-datepicker-calendar td {
    padding: 0 7px;

    text-align: center;
    line-height: 26px;
}

.ui-datepicker-calendar .ui-state-default {
    display: block;
    width: 26px;
    outline: none;

    text-decoration: none;
    color: #a8a8a8;

    border: 1px solid transparent;
}

.ui-datepicker-calendar .ui-state-active {
    color: #6a9113;
    border: 1px solid #6a9113;
}

.ui-datepicker-other-month .ui-state-default { color: #565656; }
