* { padding: 0; margin: 0; }

html {
    font-family: Arial;
    font-size: 100%;
    cursor: default;
}

table {
    width: 100%;
    text-align: center;
    border-spacing: 0;
    padding: 0.4em;
}

thead th {
    padding: 3px;
    border-bottom: solid 2px grey;
}

tbody {
    font-size: 0.9em;
}

tbody td {
    padding: 8px;
}

.btn-terminate {
    padding: 5px;
    display: inline-block;
}