/* This file is used for wallpaper css effects */

.arrange li  {
        margin-right:20px;
        margin-bottom:10px;
        display: inline-block;
        padding: 0 0.5%;
        float:left;
        cursor: pointer;
    }

.tilt {
  -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;
}
 
.tilt:hover {
  -webkit-transform: rotate(+5deg);
     -moz-transform: rotate(+5deg);
       -o-transform: rotate(+5deg);
      -ms-transform: rotate(+5deg);
          transform: rotate(+5deg);
}